<div>
    <h2 id="page-heading">
        <span jhiTranslate="fooschoolApp.reports.home.title">Reports</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reports" [routerLink]="['/reports/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="fooschoolApp.reports.home.createLabel">
            Create new Reports
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'fooschoolApp.reports.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reports">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fooschoolApp.reports.numberOfParticipats">Number Of Participats</span></th>
            <th><span jhiTranslate="fooschoolApp.reports.comment">Comment</span></th>
            <th><span jhiTranslate="fooschoolApp.reports.training">Training</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reports of reports ;trackBy: trackId">
                <td><a [routerLink]="['/reports', reports.id, 'view' ]">{{reports.id}}</a></td>
                <td>{{reports.numberOfParticipats}}</td>
                <td>{{reports.comment}}</td>
                <td>
                    <div *ngIf="reports.training">
                        <a [routerLink]="['../training', reports.training?.id, 'view' ]" >{{reports.training?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reports', reports.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reports', reports.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reports/'+ reports.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
