<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reports">
            <h2><span jhiTranslate="fooschoolApp.reports.detail.title">Reports</span> {{reports.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fooschoolApp.reports.numberOfParticipats">Number Of Participats</span></dt>
                <dd>
                    <span>{{reports.numberOfParticipats}}</span>
                </dd>
                <dt><span jhiTranslate="fooschoolApp.reports.comment">Comment</span></dt>
                <dd>
                    <span>{{reports.comment}}</span>
                </dd>
                <dt><span jhiTranslate="fooschoolApp.reports.training">Training</span></dt>
                <dd>
                    <div *ngIf="reports.training">
                        <a [routerLink]="['/training', reports.training?.id, 'view']">{{reports.training?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reports', reports.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
