<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reports-heading" jhiTranslate="fooschoolApp.reports.home.createOrEditLabel">Create or edit a Reports</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reports.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reports.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.reports.numberOfParticipats" for="field_numberOfParticipats">Number Of Participats</label>
                    <input type="number" class="form-control" name="numberOfParticipats" id="field_numberOfParticipats"
                        [(ngModel)]="reports.numberOfParticipats" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.reports.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                        [(ngModel)]="reports.comment" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.reports.training" for="field_training">Training</label>
                    <select class="form-control" id="field_training" name="training" [(ngModel)]="reports.training" required>
                        <option *ngIf="!editForm.value.training" [ngValue]="null" selected></option>
                        <option [ngValue]="trainingOption.id === reports.training?.id ? reports.training : trainingOption" *ngFor="let trainingOption of trainings; trackBy: trackTrainingById">{{trainingOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.training?.dirty && editForm.controls.training?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.training?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
