<div class="row">
    <div class="col-md-12">
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div *ngSwitchCase="true" class="row justify-content-around" style="margin-bottom: 20px;">
                <div class="col-2" style="background-color: #3e8acc; font-size: 20px;"> <span>   <fa-icon icon="chart-bar" class="fa-sm" fixedWidth="true"></fa-icon> Number of reports </span> <h3 style="text-align: center; font-weight: bold;"> {{account.statistics.counter}}</h3> </div>
                <div class="col-2" style="background-color: #008800; font-size: 20px;"> <span>   <fa-icon icon="arrow-up" class="fa-sm" fixedWidth="true"></fa-icon> Max participants </span> <h3 style="text-align: center; font-weight: bold;"> {{account.statistics.max}}</h3> </div>
                <div class="col-2" style="background-color: #666699; font-size: 20px;"> <span>   <fa-icon icon="balance-scale" class="fa-sm" fixedWidth="true"></fa-icon> Mean participants </span> <h3 style="text-align: center; font-weight: bold;"> {{account.statistics.mean}}</h3> </div>
                <div class="col-2" style="background-color: #ffc107; font-size: 20px;"> <span>   <fa-icon icon="arrow-down" class="fa-sm" fixedWidth="true"></fa-icon> Min participants </span> <h3 style="text-align: center; font-weight: bold;"> {{account.statistics.min}}</h3> </div>

                <div class="col-2" style="background-color: #7f7f7f; font-size: 20px;"> <span>   <fa-icon icon="chart-line" class="fa-sm" fixedWidth="true"></fa-icon> Forecast </span>
                    <h5 style="text-align: center; font-weight: bold;">
                        <div *ngSwitchCase="true" class="row align-self-center; margin-left: 20px; margin: auto;">
                            <div *ngFor="let prediction of account.predictions">
                                <div class="col-sm" >  {{prediction}}  </div>
                            </div>
                        </div>
                    </h5>
                </div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false"  style="text-align: center;">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>
