<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-training-heading" jhiTranslate="fooschoolApp.training.home.createOrEditLabel">Create or edit a Training</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!training.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="training.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.training.nextTrainingDate" for="field_nextTrainingDate">Next Training Date</label>
                    <div class="input-group">
                        <input id="field_nextTrainingDate" type="text" class="form-control" name="nextTrainingDate" ngbDatepicker  #nextTrainingDateDp="ngbDatepicker" [(ngModel)]="training.nextTrainingDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="nextTrainingDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.nextTrainingDate?.dirty && editForm.controls.nextTrainingDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nextTrainingDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.training.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="training.address" required/>
                    <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.training.isNotificationSent" for="field_isNotificationSent">Is Notification Sent</label>
                    <input type="checkbox" class="form-control" name="isNotificationSent" id="field_isNotificationSent"
                        [(ngModel)]="training.isNotificationSent" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.training.group" for="field_group">Group</label>
                    <select class="form-control" id="field_group" name="group" [(ngModel)]="training.group"  required>
                        <option *ngIf="!editForm.value.group" [ngValue]="null" selected></option>
                        <option [ngValue]="groupsOption.id === training.group?.id ? training.group : groupsOption" *ngFor="let groupsOption of groups; trackBy: trackGroupsById">{{groupsOption.groupName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.group?.dirty && editForm.controls.group?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.group?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
