<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="training">
            <h2><span jhiTranslate="fooschoolApp.training.detail.title">Training</span> {{training.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fooschoolApp.training.nextTrainingDate">Next Training Date</span></dt>
                <dd>
                    <span>{{training.nextTrainingDate}}</span>
                </dd>
                <dt><span jhiTranslate="fooschoolApp.training.address">Address</span></dt>
                <dd>
                    <span>{{training.address}}</span>
                </dd>
                <dt><span jhiTranslate="fooschoolApp.training.isNotificationSent">Is Notification Sent</span></dt>
                <dd>
                    <span>{{training.isNotificationSent}}</span>
                </dd>
                <dt><span jhiTranslate="fooschoolApp.training.group">Group</span></dt>
                <dd>
                    <div *ngIf="training.group">
                        <a [routerLink]="['/groups', training.group?.id, 'view']">{{training.group?.groupName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/training', training.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
