<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-groups-heading" jhiTranslate="fooschoolApp.groups.home.createOrEditLabel">Create or edit a Groups</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!groups.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="groups.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.groups.groupName" for="field_groupName">Group Name</label>
                    <input type="text" class="form-control" name="groupName" id="field_groupName"
                        [(ngModel)]="groups.groupName" required/>
                    <div [hidden]="!(editForm.controls.groupName?.dirty && editForm.controls.groupName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.groupName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fooschoolApp.groups.coach" for="field_coach">Coach</label>
                    <select class="form-control" id="field_coach" name="coach" [(ngModel)]="groups.coach"  required>
                        <option *ngIf="!editForm.value.coach" [ngValue]="null" selected></option>
                        <option [ngValue]="jhi_userOption.id === groups.coach?.id ? groups.coach : jhi_userOption" *ngFor="let jhi_userOption of jhi_users; trackBy: trackJhi_userById">{{jhi_userOption.lastName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.coach?.dirty && editForm.controls.coach?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.coach?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
