<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="groups">
            <h2><span jhiTranslate="fooschoolApp.groups.detail.title">Groups</span> {{groups.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fooschoolApp.groups.groupName">Group Name</span></dt>
                <dd>
                    <span>{{groups.groupName}}</span>
                </dd>
                <dt><span jhiTranslate="fooschoolApp.groups.coach">Coach</span></dt>
                <dd>
                    <div *ngIf="groups.coach">
                        <a [routerLink]="['/jhi-user', groups.coach?.id, 'view']">{{groups.coach?.lastName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/groups', groups.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
